
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10pt;
}
div {
    display: block;
}
div#header {
    display: none;
}
div.stephead p{
    font-weight: bold;
    font-size: 12pt;
}
p.edit {
    display: none;
}
p.delete {
    display: none;
}
div#addstep {
    display: none;
}
span.slabel {
    font-weight: bold;
}
span.detail {
    position: absolute;
    left: 240px;
}