body {
    font-family: Arial, Helvetica, sans;
    background-color: #bbbbbb;
    border: 0px;
    margin: 0px;
}
div#nav1 {
    float: right;
    margin: 10px;
    padding: 15px 0 0 0;
}
div#nav1 p {
    margin: 2px;
    padding: 0;
}
div#search {
    float: right;
    margin: 10px;
    padding: 0;
}
div#context {
    float: right;
    margin: 10px;
    padding: 0;
}
div#content {
    margin: 0 15% 0 15%;
    padding: 1em;
    background-color: #eeeeee;
}
div#header {
    background-color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    border-bottom: 5px solid #FFFFFF;
}

div#header h1 {

    float: left;
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    line-height: 0.70em;
}

table {
    //table-layout:fixed;
    width: 100%;
}

table tr td {
    overflow: hidden;
    padding: 1px;
    margin: 0;
    background-color: #eeeeee;
    color: #111111;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    border-top: 0px;
    border-left: 0px;
    font-size: 10pt;
}

table tr.colheading td {
    background-color: #333333;
    color: #eeeeff;
}

tr:nth-child(even) td {
    background-color: #dddddd;
}

a {
    color: black;
}
a:hover {
    background-color: grey;
}
/* clearfix classes */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* ie 6/7 */
}
.warn {
    border: solid 1px red;
}
form li {
  list-style: none;  
}
form label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
      margin: 2px 8px 1px 1px;
}
form input {
  display: inline-block;
  float: left;
  margin: 1px;
}
form textarea {
  display: inline-block;
  float: left;
    margin: 1px;
}
/* CUSTOM */
div.warnings {
    display: hidden;
}
.warnings {
    color: #BB2222;
}
div.stepdetails p span.slabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
      margin: 1px 8px 1px 1px;
      font-weight: bold;
}
div.stepdetails p span.detail{
  display: inline-block;
  float: left;
  margin: 1px;
}
div#delete p span.dlabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
      margin: 1px 8px 1px 1px;
      font-weight: bold;
}
div#delete p span.detail{
  display: inline-block;
  float: left;
  margin: 1px;
}
.context {
    padding: 10px;
    border-radius: 25px;
    background-color: #cccccc;
}
div#nav1 p span {
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    background-color: #cccccc;
    
}
.step {
    border-radius: 25px;
    background-color: #cccccc;
}
.stephead {
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18pt;
    border-radius: 25px;
}
.stephead p{
    padding: 10px;
}
.stepdetails {
    padding: 1em;
}
td.critical strong{
    color: #dd2222
}
td.urgent {
    color: #ff0000;
}
td.pending {
    
}
img#animal {
    width: 200px;
    float: left;
}